.img-responsive {
  height: 100px;
}

.scroll {
  padding: 20px;
  background-color: #eee;
  margin: 100px 10px 200px 10px;
  opacity: 0;
}

.image-radio {
  width: 200px;
}

label.btn > input {
  visibility: hidden;
  position: absolute;
}

